name: Tests

on:
  push:
    branches: [main]
  pull_request:
    branches: [main]

jobs:
  chore:
    name: "Testing chores"
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v3
        with:
          fetch-depth: 2

      - uses: actions/setup-node@v3
        with:
          node-version: 14
          
      - name: Get the Yarn cache directory path
        id: yarn-cache-dir-path
        run: echo "::set-output name=dir::$(yarn config get cacheFolder)"

      - uses: actions/cache@v3
        with:
          path: ${{steps.yarn-cache-dir-path.outputs.dir}}
          key: ${{runner.os}}-yarn-${{hashFiles('**/yarn.lock')}}
          restore-keys: |
            ${{runner.os}}-yarn-

      - run: corepack yarn install --immutable
      - run: corepack yarn build # We need the stubs to run the tests

      - name: "Check for type errors"
        run: corepack yarn typecheck

      - name: "Check for linting errors"
        run: corepack yarn lint

  build:
    strategy:
      fail-fast: false
      matrix:
        node:
          - 14
        platform:
          - ubuntu-latest
          - macos-latest
          - windows-latest

    name: "${{matrix.platform}} w/ Node.js ${{matrix.node}}.x"
    runs-on: ${{matrix.platform}}
    needs: chore

    steps:
      - uses: actions/checkout@v3

      - name: "Use Node.js ${{matrix.node}}.x"
        uses: actions/setup-node@v3
        with:
          node-version: ${{matrix.node}}.x

      - name: Get the Yarn cache directory path
        id: yarn-cache-dir-path
        run: echo "::set-output name=dir::$(yarn config get cacheFolder)"

      - uses: actions/cache@v3
        with:
          path: ${{steps.yarn-cache-dir-path.outputs.dir}}
          key: ${{runner.os}}-yarn-${{hashFiles('**/yarn.lock')}}
          restore-keys: |
            ${{runner.os}}-yarn-

      - run: corepack yarn install --immutable
      - run: corepack yarn build # We need the stubs to run the tests

      - run: corepack yarn test
